[submodule "backend"]
	path = backend
	url = https://github.com/thisIsMadelyn/System-Designer-ChatBot.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/thisIsMadelyn/System-Designer-ChatBot-UI.git
